{% extends 'moviditor/base.html' %}
{% block content %}

<center class="h4">Result for Audios....</center><br>
{% if not audios %}
    <div class="container text h6">No audio found with this name "{{ phrase }}".</div>
{% else %}
    {% for audio in audios %}
        <ul class="container- fluid">
            <audio controls src="{{ audio.audio.url }}">
                <source src="{{ audio.audio.url }}" type="audio/mpeg">not supported
            </audio>
            <li>{{ audio.name }}</li>
            <ul>
                <li>size: {{ audio.size }}mb</li>
                <li>uploaded: {{ audio.date_added }}</li>
            </ul> 
            <div role="button" class="my-3">
                <a type="button" class="btn btn-outline-info btn-sm" href="{% url 'moviditor:convert-mp4' audio.id %}">convert to mp4</a>
            </div>
            <div role="button" class="my-3">
                <a type="button" href="{% url 'moviditor:confirm-del-aud' audio.id audio.name %}" class="btn btn-danger btn-sm">delete</a>
            </div>
        </ul>
    {% endfor %}
{% endif %}
<hr>
<center class="h4">Result for Videos....</center><br>
{% if not videos %}
    <div class="container text h6">No video found with this name "{{ phrase }}".</div>
{% else %}
    {% for video in videos %}
    <ul>
        <div class="container-fluid"><video src="{{ video.video.url }}" controls>not supported by browser</video></div>
        <li>{{ video.name }}</li>
        <ul>
            <li>size: {{ video.size }}mb</li>
            <li>uploaded: {{ video.date_added }}</li>
        </ul> 
        <div role="group" class="btn-group">
            <a href="#" type="button" class="btn btn-outline-danger btn-sm">cut</a>
            <a type="button" class="btn btn-outline-info btn-sm" href="{% url 'moviditor:cut-in-parts' video.id %}">divide into parts</a>
            <a href="{% url 'moviditor:convert-to-mp3' video.id video.name %}" type="button" class="btn btn-outline-warning btn-sm">convert to mp3</a>
            <a href="{% url 'moviditor:timed-cut' video.id video.name %}" type="button" class="btn btn-outline-success btn-sm">timed split</a>
        </div>
        <div role="button" class="my-3">
            <a type="button" href="{% url 'moviditor:confirm-del-vid' video.id video.name %}" class="btn btn-danger btn-sm">delete</a>
        </div>
    </ul>
    {% endfor %}
{% endif %}
{% endblock content %}