{% extends 'moviditor/base.html' %}
{% block content %}
{% if validlink %}
  <div class="container form-control">
    <label for="Password" class="form-label">Please enter and confirm your new password</label>
    <form action="" id="Password" method="post">
        {% csrf_token %}
        {{ form.new_password1.errors }}
        <label for="Password1" class="form-label">New password:</label>
        <div class="form-control" id="Password1">
            {{ form.new_password1 }}
        </div>
        {{ form.new_password2.errors }}
        <label for="Password2" class="form-label">Confirm password:</label>
        <div class="form-control" id="Password2">
            {{ form.new_password2 }}
        </div>
        <input type="submit" class="btn btn-sm btn-primary" value="Change my password">
    </form>
  </div>
{% else %}
<h2 class="text lead text-danger h2">Password reset failed.</h2>
<h4 class="text lead text-primary h4">
    The password reset link was invalid, possibly because it has already been used. 
    Please request a new password reset.
</h4>
{% endif %}
{% endblock content %}