{% extends 'moviditor/base.html' %}
{% block content %}
<div class="container form-control">
    <form action="" method="post">
        {% csrf_token %}
        {% if form.errors %}
          {{ form.email.errors }}
        {% endif %}
        <label for="Email" class="form-label text-black">Enter your @email for password reset:</label>
       <div class="form-control" id="Email">
        {{form.email}}
       </div>
       <input type="submit" class="btn btn-primary btn-sm my-1" value="Reset password">
    </form>
</div>
{% endblock content %}